# Database
DATABASE_URL=""

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_PRO_PRICE_ID=""

# OpenRouter AI (https://openrouter.ai)
OPENROUTER_API_KEY=""

# App URL (public)
NEXT_PUBLIC_APP_URL=""
